* {
    margin: 0 0;
    padding: 0 0;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Poppins', sans-serif !important;
}

nav {
    background-color: #ffffff79;
}

#banner {
    background-image: url('./Asset/Images/Banner1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bannerC {
    background-image: url('./Asset/Images/bannerC.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.q-doctor {
    border: 0.3em solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(#fff, #e7bfdd, #e7bfdd);

}

#fBanner {
    background-image: url('./Asset/Images/fBanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}